.card__title {
  font-family: 'Roboto Slab', arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1a1b22;
  width: 352px;
  margin-top: 10px;
  margin-bottom: 0px;
  overflow: hidden;

  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-inline-end: -10px;
}

@media screen and (max-width: 1280px) {
  .card__title {
    font-size: 22px;
    line-height: 24px;
    width: calc(352px * 0.8);
    margin-top: 9px;
  }
}

@media screen and (max-width: 920px) {
  .card__title {
    font-size: 20px;
    line-height: 22px;
    width: 192px;
    -webkit-line-clamp: 2;
    margin-top: 7px;
  }
}

@media screen and (max-width: 600px) {
  .card__title {
    margin-top: 8px;
    -webkit-line-clamp: 3;
    font-size: 22px;
    line-height: 24px;
  }
}