.card__controls {
  border: none;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  padding: 24px;
}

@media screen and (max-width: 1280px) {
  .card__controls {
    padding: calc(24px*0.8);
  }
}

@media screen and (max-width: 920px) {
  .card__controls {
    padding: 8px;
  }
}

@media screen and (max-width: 600px) {
  .card__controls {
    padding: 16px;
  }
}