.navbar__link_underline {
  border-bottom: 3px solid white;
}

.header_theme_white .navbar__link_underline {
  border-bottom: 3px solid #1A1B22;
}

@media (max-width: 600px) {
  .navbar__link_underline {
    border-bottom: none;
  }
}