@import url(../author/__title/author__title.css);
@import url(../author/__about/author__about.css);
@import url(../author/__avatar/author__avatar.css);
@import url(../author/__description/author__description.css);

.author {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  color: #1a1b22;
  padding-left: 104px;
  padding-right: 216px;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1050px) {
  .author {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 61px;
  }
}

@media screen and (max-width: 570px) {
  .author {
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 80px;
  }
}