.footer__copyright {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (max-width: 660px) {
  .footer__copyright {
    margin-top: 50px;
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .footer__copyright {
    margin-top: 38px;
    font-size: 15px;
  }
}