.intro__container {
  width: 100%;
  padding: 0 7.5vw;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .intro__container {
    padding: 0 4vw;
  }
}

@media (max-width: 600px) {
  .intro__container {
    padding: 17px 4vw;
  }
}