.popup__close {
  background-image: url(../../../images/close-button.png);
  background-color: transparent;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: url(../../../images/cursor-lapka.png), pointer;
}

@media (max-width: 600px) {
  .popup__close {
    top: -40px;
    right: -13px;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/close-button-mobile.png);
  }
}

@media (max-width: 425px) {
  .popup__close {
    top: -40px;
    right: 12px;
  }
}