.popup__close {
  width: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .popup__close {
    top: -40px;
    right: -13px;
  }
}

@media (max-width: 425px) {
  .popup__close {
    top: -40px;
    right: 13px;
  }
}