.header__button-icon {
  background: url(../../../images/icon-logout-png.png) center no-repeat;
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .header__button-icon {
    margin-left: 5px;
  }
}