.intro__greeting {
  margin: 28px 0 0;
  font-family: 'Roboto Slab';
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
  font-style: normal;
  width: 50%;
  max-width: 530px;
}

@media (max-width: 920px) {
  .intro__greeting {
    max-width: 360px;
    font-size: 34px;
    line-height: 40px;
    margin: 22px 0 0;
  }
}

@media (max-width: 800px) {
  .intro__greeting {
    max-width: 360px;
    font-size: 30px;
    line-height: 34px;
    margin: 20px 0 0;
  }
}

@media (max-width: 768px) {
  .intro__greeting {
    max-width: 336px;
    margin: 16px 0 0;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .intro__greeting {
    max-width: 288px;
  }
}