.card__cover {
  display: flex;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  width: 400px;
  height: 272px;
}

@media screen and (max-width: 1280px) {
  .card__cover {
    width: calc(400px * 0.8);
    height: calc(272px * 0.8);
  }
}

@media screen and (max-width: 920px) {
  .card {
    width: 224px;
    height: 150px;
  }
}

@media screen and (max-width: 600px) {
  .card__cover {
    height: 196px;
    width: 288px;
  }
}