.footer__container-column {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 550px) {
  .footer__container-column {
    flex-direction: column-reverse;
  }
}