.logout-icon {
  margin-left: 7px;
}

.logout-icon path {
  fill: white;
}

.header_theme_white .logout-icon path {
  fill: #1A1B22;
}

@media (max-width: 600px) {
  .navbar_opened .logout-icon path {
    fill: white;
  }
}