@import url(./__container/footer__container.css);
@import url(./__container-column/footer__container-column.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__icon/footer__icon.css);
@import url(./__link-container/footer__link-container.css);
@import url(./__link/footer__link.css);
@import url(./__social-networks/footer__social-networks.css);
@import url(./__icon/footer__icon.css);
@import url(./__icon/_facebook/footer__icon_facebook.css);
@import url(./__icon/_git/footer__icon_git.css);
.footer {
  font-family: 'Roboto', arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  color: #1a1b22;
  padding-top: 32px;
  padding-bottom: 26px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  flex: 0 0 auto;
}