@import url(./_general/error_general.css);
.error {
  font-size: 12px;
  line-height: 14px;
  font-family: 'Inter';
  color: #FF0000;
  display: none;
  margin: 4px 0 0;
  box-sizing: border-box;
  height: 25px;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.popup__fieldset_invalid .error {
  display: block;
}