.card__hint_logged-out {
  font-size: 10px;
  line-height: 12px;
  padding-left: 13px;
  padding-right: 13px;
}

.card__hint_logged-out::before{
  content:"Войдите, чтобы сохранять статьи";
}

@media screen and (max-width: 920px) {
  .card__hint_logged-out {
    font-size: 9px;
    line-height: 9px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 600px) {
  .card__hint_logged-out {
    font-size: 10px;
    line-height: 12px;
    padding-left: 13px;
    padding-right: 13px;
  }
}