.popup__input-link {
  color: #2F71E5;
  cursor: url('../../../images/cursor-lapka.png'), pointer;
  margin: 0;
}

.popup__input-link:hover {
  color: #347EFF;
}

.popup__input-link:active {
  color: #2A65CC;
}