.author__description {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
  box-sizing: border-box;
}


@media screen and (max-width: 570px) {
  .author__description {
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 0px;
  }
}