.card__keyword {
  font-size: 12px;
  padding-left: 19px;
  padding-right: 19px;
  left: 24px;
}

@media screen and (max-width: 1264px) {
  .card__keyword {
    left: 8px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
}