.navbar__btn_logout {
  border: 1px solid white;
  border-radius: 20px;
  background: none;
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300;
  padding: 7px 14px;
  box-shadow: none;
  display: none;
}

.navbar__btn_logout:hover {
  box-shadow: 0 0 6px 1px white;
}

.page_logged-in .navbar__btn_logout {
  display: flex;
}

.header_theme_white .navbar__btn_logout {
  border: 1px solid #1A1B22;
  color: #1A1B22;
}

.header_theme_white .navbar__btn_logout:hover {
  box-shadow: 0 0 6px 1px#1A1B22;
}

@media (max-width: 600px) {
  .navbar__btn_logout {
    padding: 11px 14px;
    border-radius: 24px;
  }
  .navbar__btn_logout:hover {
    box-shadow: none;
    border: 2px solid #1A1B22;
  }
  .navbar_opened .navbar__btn_logout {
    color: white;
    border: 1px solid white;
  }
  .navbar_opened .navbar__btn_logout:hover {
    border: 2px solid white;
  }
}