.author__about {
  margin-top: 51px;
  margin-left: 56px;
}

@media screen and (max-width: 1050px) {
  .author__about {
    margin-top: 0px;
    margin-left: 32px;
  }
}


@media screen and (max-width: 570px) {
  .author__about {
    margin-top: 24px;
    margin-left: 0px;
  }
}