.intro__keywords-summary {
  margin: 30px 0 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 920px) {
  .intro__keywords-summary {
    margin: 22px 0 0;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .intro__keywords-summary {
    margin: 20px 0 0;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .intro__keywords-summary {
    margin: 16px 0 0;
  }
}

@media (max-width: 600px) {
  .intro__keywords-summary {
    font-size: 18px;
  }
}