@import url(./__container/intro__container.css);
@import url(./__greeting/intro__greeting.css);
@import url(./__keywords-summary/intro__keywords-summary.css);
@import url(./__keywords/intro__keywords.css);
@import url(./__rest-qty/intro__rest-qty.css);
@import url(./__supporting-text/intro__supporting-text.css);
@import url(./__title/intro__title.css);
.intro {
  background-color: white;
  color: #1A1B22;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 56px;
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 auto;
}

@media (max-width: 920px) {
  .intro {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .intro {
    padding-top: 8px;
    padding-bottom: 32px;
  }
}