.header {
  height: 40vw;
  max-width: 1440px;
  width: 100%;
  flex: 0 0 auto;
  display: block;
  margin: 0 auto;
  padding: 0;
  color: #FFF;
  background-image: url('../../images/main-page-pic.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header_theme_white {
  background: none;
  background-color: #FFF;
  height: 80px;
}

@media (max-width: 920px) {
  .header {
    height: 576px;
  }
  .header_theme_white {
    height: 66px;
  }
}

@media (max-width: 768px) {
  .header {
    height: 400px;
    background-image: url('../../images/main-page-pic-768.jpg');
  }
  .header_theme_white {
    background: none;
    background-color: #FFF;
    height: 56px;
  }
}

@media (max-width: 320px) {
  .header {
    height: 536px;
    background-image: url('../../images/main-page-pic-mobile.jpg');
  }
  .header_theme_white {
    background: none;
    background-color: #FFF;
    height: 56px;
  }
}