.author__avatar {
  height: 464px;
  box-sizing: border-box;
  border-radius: 50%;
}

@media screen and (max-width: 1050px) {
  .author__avatar {
    margin-top: 21px;
    height: 232px;
  }
}

@media screen and (max-width: 570px) {
  .author__avatar {
    margin-top: 0px;
    height: 272px;
  }
}