.card__hint {
  right: 70px;
  display: none;
  border: none;
}

@media screen and (max-width: 1280px) {
  .card__hint {
    right: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .card__hint {
    right: 70px;
  }
}

@media screen and (max-width: 920px) {
  .card__hint {
    right: 60px;
  }
}

@media screen and (max-width: 600px) {
  .card__hint {
    right: 70px;
  }
}