.search__description {
  margin: 2.2vw 0 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 97%;
}

@media (max-width: 1024px) {
  .search__description {
    width: 100%;
    margin: 20px 0 0px;
  }
}

@media (max-width: 768px) {
  .search__description {
    margin: 16px 0 0;
  }
}