@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__fieldset/popup__fieldset.css);
@import url(./__input/popup__input.css);
@import url(./__input-subtitle/popup__input-subtitle.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__bottom/popup__bottom.css);
@import url(./__button/popup__button.css);
@import url(./__text-below/popup__text-below.css);
@import url(./__input-link/popup__input-link.css);
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 5;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .popup {
    align-items: flex-start;
    top: 55px;
  }
}